<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>진짜서울</title>
    <script src="/webjars/jquery/3.6.2/jquery.min.js"></script>
    <script src="/js/jquery.cookie.js"></script>
</head>

<body>
<header>
    <h1>진짜 서울</h1>
    <a th:href="@{/map-finder}">지도찾기</a>
    <div id="auth-area"></div>
    <hr>
</header>
<section>
    <form method="get" action="/map-finder">
        <input type="text" name="keyword" placeholder="지도를 검색해보세요">
        <button type="submit">검색</button>
    </form>

    <hr>

    <h3>열혈 큐레이터</h3>
    <h5>최근 1주일간 활발히 활동한 큐레이터를 소개합니다.</h5>
    <div id="diligent-curators"></div>

    <hr>

    <h3>요즘 뜨는 장소들</h3>
    <h5>진짜서울에서 사랑받는 장소들을 소개합니다.</h5>
    <div id="famous-location"></div>

    <hr>

    <h3>큐레이션 지도</h3>
    <h5>큐레이션 지도는 마음껏 장소를 추천할 수 있는 지도입니다. (장소 추천 횟수 제한이 없습니다)</h5>
    <div id="curation-maps"></div>

    <hr>

    <h3>추천 테마지도</h3>
    <h5>특징이 명확하고 개성있는 테마들을 추천합니다.</h5>
    <div id="recommend-themes"></div>

    <hr>

    <h3>최근 만들어진 테마지도</h3>
    <h5>취향 가득한 큐레이터를 기다리고 있는 테마들입니다.</h5>
    <div id="latest-themes"></div>

    <hr>

    <h3>인기있는 테마지도</h3>
    <div id="popular-themes"></div>
</section>
</body>

<script>
    $(function () {
        $.ajax({
            type: "GET",
            url: "/api/auth/me",
            dataType: "json",
            headers: {
                "Authorization" : $.cookie('atk')
            },
            success: function (json) {
                let name = json.result.data;

                if (json['success']) {
                    let str = "";

                    if (name !== null) {
                        str += "<a " + "onclick='logout()'" + ">로그아웃</a><br><br>";
                        str += "<span>" + name + "님, 환영합니다!</span>";

                    } else {
                        str += "<a href='/login-page'>로그인</a>"
                    }

                    $("#auth-area").append(str);
                }
            }
        });

        $.ajax({
            type: "GET",
            url: "/api/users",
            dataType: "json",
            success: function (json) {
                let data = json.result.data;

                if (json['success']) {
                    let str = "<table>";
                    $.each(data, function (index, item) {
                        str += "<tr><td>" + item.id + "</td>" +
                            "<td>" + item.name + "</td>" +
                            "<td>" + item.numOfRecommend + "</td>" +
                            "<td>" + item.imageUrl + "</td></tr>";
                    })

                    str += "</table>";
                    $("#diligent-curators").append(str);

                } else {
                    console.log("조회에 실패하였습니다.");
                    location.href = "redirect:/";
                }
            }
        });

        $.ajax({
            type: "GET",
            url: "/api/themes/recommend",
            dataType: "json",
            success: function (json) {
                let data = json.result.data;

                if (json['success']) {
                    let str = createTable(data);
                    $("#recommend-themes").append(str);

                } else {
                    console.log("조회에 실패하였습니다.");
                    location.href = "redirect:/";
                }
            }
        });

        $.ajax({
            type: "GET",
            url: "/api/themes/latest",
            dataType: "json",
            success: function (json) {
                let data = json.result.data;

                if (json['success']) {
                    let str = createTable(data);
                    $("#latest-themes").append(str);

                } else {
                    console.log("조회에 실패하였습니다.");
                    location.href = "redirect:/";
                }
            }
        });

        $.ajax({
            type: "GET",
            url: "/api/themes/popular",
            dataType: "json",
            success: function (json) {
                let data = json.result.data;

                if (json['success']) {
                    let str = createTable(data);
                    $("#popular-themes").append(str);

                } else {
                    console.log("조회에 실패하였습니다.");
                    location.href = "redirect:/";
                }
            }
        });

        $.ajax({
            type: "GET",
            url: "/api/curations",
            dataType: "json",
            success: function (json) {
                let data = json.result.data;

                if (json['success']) {
                    let str = "<table>";
                    $.each(data, function (index, item) {
                        str += "<tr><td>" + item.id + "</td>" +
                            "<td>" + item.name + "</td>" +
                            "<td>" + item.curationMapImageUrl + "</td>" +
                            "<td>" + item.userName + "</td>" +
                            "<td>" + item.userImageUrl + "</td>" +
                            "<td>" + item.locationNum + "</td></tr>";
                    })

                    str += "</table>";
                    $("#curation-maps").append(str);

                } else {
                    console.log("조회에 실패하였습니다.");
                    location.href = "redirect:/";
                }
            }
        });
    })

    function logout() {
        $.ajax({
            type: "POST",
            url: "/api/auth/logout",
            dataType: "json",
            headers: {
                "Authorization" : $.cookie('atk')
            },
            success: function (json) {
                let data = json.result.data;

                if (json['success']) {
                    alert(data);
                    $.removeCookie('atk');
                    $.removeCookie('rtk');
                    location.href = "/";

                } else {
                    console.log("로그아웃에 실패하였습니다.");
                }
            }
        });
    }

    function createTable(data) {
        let str = "<table>"
        $.each(data, function (index, item) {
            str += "<tr><td>" + item.id + "</td>" +
                "<td>" + item.name + "</td>" +
                "<td>" + item.imageUrl + "</td>" +
                "<td>" + item.curatorNum + "</td></tr>";
        });

        str += "</table>";
        return str;
    }
</script>